
@font-face {
    font-family: 'thuicon';
    src: url('../font/thuicon.eot?18906571');
    src: url('../font/thuicon.eot?18906571#iefix') format('embedded-opentype'), url('../font/thuicon.woff?18906571') format('woff'), url('../font/thuicon.ttf?18906571') format('truetype'), url('../font/thuicon.svg?18906571#thuicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'thuicon';
    src: url('../font/thuicon.svg?18906571#thuicon') format('svg');
  }
}
*/
[class^="thuicon-"]:before, [class*=" thuicon-"]:before {
    font-family: "thuicon";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.thuicon-search:before {
    content: '\e824';
}

/* 'î ¤' */
.thuicon-dot-circled:before {
    content: '\e833';
}

/* 'î ³' */
.thuicon-th:before {
    content: '\e83d';
}

/* 'î ½' */
.thuicon-th-list:before {
    content: '\e83e';
}

/* 'î ¾' */
.thuicon-ok:before {
    content: '\e805';
}

/* 'î …' */
.thuicon-ok-circled:before {
    content: '\e800';
}

/* 'î €' */
.thuicon-ok-circled2:before {
    content: '\e801';
}

/* 'î ' */
.thuicon-ok-squared:before {
    content: '\e802';
}

/* 'î ‚' */
.thuicon-cancel:before {
    content: '\e803';
}

/* 'î ƒ' */
.thuicon-cancel-circled:before {
    content: '\e804';
}

/* 'î „' */
.thuicon-cancel-circled2:before {
    content: '\e806';
}

/* 'î †' */
.thuicon-plus:before {
    content: '\e807';
}

/* 'î ‡' */
.thuicon-plus-circled:before {
    content: '\e808';
}

/* 'î ˆ' */
.thuicon-plus-squared:before {
    content: '\e809';
}

/* 'î ‰' */
.thuicon-plus-squared-alt:before {
    content: '\e80a';
}

/* 'î Š' */
.thuicon-minus:before {
    content: '\e80b';
}

/* 'î ‹' */
.thuicon-minus-circled:before {
    content: '\e80c';
}

/* 'î Œ' */
.thuicon-minus-squared:before {
    content: '\e80d';
}

/* 'î ' */
.thuicon-minus-squared-alt:before {
    content: '\e80e';
}

/* 'î Ž' */
.thuicon-link-ext:before {
    content: '\e80f';
}

/* 'î ' */
.thuicon-link-ext-alt:before {
    content: '\e810';
}

/* 'î ' */
.thuicon-location:before {
    content: '\e826';
}

/* 'î ¦' */
.thuicon-menu:before {
    content: '\e83b';
}

/* 'î »' */
.thuicon-block:before {
    content: '\e842';
}

/* 'î¡‚' */
.thuicon-resize-full:before {
    content: '\e843';
}

/* 'î¡ƒ' */
.thuicon-resize-full-alt:before {
    content: '\e841';
}

/* 'î¡' */
.thuicon-resize-small:before {
    content: '\e844';
}

/* 'î¡„' */
.thuicon-resize-vertical:before {
    content: '\e845';
}

/* 'î¡…' */
.thuicon-resize-horizontal:before {
    content: '\e846';
}

/* 'î¡†' */
.thuicon-move:before {
    content: '\e847';
}

/* 'î¡‡' */
.thuicon-zoom-in:before {
    content: '\e81f';
}

/* 'î Ÿ' */
.thuicon-zoom-out:before {
    content: '\e820';
}

/* 'î  ' */
.thuicon-down-circled2:before {
    content: '\e821';
}

/* 'î ¡' */
.thuicon-up-circled2:before {
    content: '\e822';
}

/* 'î ¢' */
.thuicon-left-circled2:before {
    content: '\e823';
}

/* 'î £' */
.thuicon-right-circled2:before {
    content: '\e825';
}

/* 'î ¥' */
.thuicon-th-large:before {
    content: '\e83c';
}

/* 'î ¼' */
.thuicon-up-dir:before {
    content: '\e838';
}

/* 'î ¸' */
.thuicon-left-dir:before {
    content: '\e839';
}

/* 'î ¹' */
.thuicon-right-dir:before {
    content: '\e83a';
}

/* 'î º' */
.thuicon-down-open:before {
    content: '\e811';
}

/* 'î ‘' */
.thuicon-left-open:before {
    content: '\e812';
}

/* 'î ’' */
.thuicon-right-open:before {
    content: '\e813';
}

/* 'î “' */
.thuicon-up-open:before {
    content: '\e814';
}

/* 'î ”' */
.thuicon-angle-left:before {
    content: '\e815';
}

/* 'î •' */
.thuicon-angle-right:before {
    content: '\e816';
}

/* 'î –' */
.thuicon-angle-up:before {
    content: '\e817';
}

/* 'î —' */
.thuicon-angle-down:before {
    content: '\e818';
}

/* 'î ˜' */
.thuicon-angle-circled-left:before {
    content: '\e819';
}

/* 'î ™' */
.thuicon-angle-circled-right:before {
    content: '\e81a';
}

/* 'î š' */
.thuicon-angle-circled-up:before {
    content: '\e81b';
}

/* 'î ›' */
.thuicon-angle-circled-down:before {
    content: '\e81c';
}

/* 'î œ' */
.thuicon-angle-double-left:before {
    content: '\e81d';
}

/* 'î ' */
.thuicon-angle-double-right:before {
    content: '\e81e';
}

/* 'î ž' */
.thuicon-down-big:before {
    content: '\e827';
}

/* 'î §' */
.thuicon-left-big:before {
    content: '\e828';
}

/* 'î ¨' */
.thuicon-right-big:before {
    content: '\e829';
}

/* 'î ©' */
.thuicon-up-big:before {
    content: '\e82a';
}

/* 'î ª' */
.thuicon-left-circled:before {
    content: '\e82b';
}

/* 'î «' */
.thuicon-right-circled:before {
    content: '\e82c';
}

/* 'î ¬' */
.thuicon-up-circled:before {
    content: '\e82d';
}

/* 'î ­' */
.thuicon-down-circled:before {
    content: '\e82e';
}

/* 'î ®' */
.thuicon-play-circled:before {
    content: '\e835';
}

/* 'î µ' */
.thuicon-play-circled2:before {
    content: '\e836';
}

/* 'î ¶' */
.thuicon-align-justify:before {
    content: '\e83f';
}

/* 'î ¿' */
.thuicon-list-bullet:before {
    content: '\e840';
}

/* 'î¡€' */
.thuicon-ellipsis:before {
    content: '\e834';
}

/* 'î ´' */
.thuicon-check:before {
    content: '\e82f';
}

/* 'î ¯' */
.thuicon-check-empty:before {
    content: '\e830';
}

/* 'î °' */
.thuicon-circle:before {
    content: '\e831';
}

/* 'î ±' */
.thuicon-circle-empty:before {
    content: '\e832';
}

/* 'î ²' */
.thuicon-down-dir:before {
    content: '\e837';
}

/* 'î ·' */
