<link rel='stylesheet' href='/static/css/inner1.css' />
{% extends 'base.html' %}


{% block content %}
<article class="content">

    <!--<section class="channeltopimg detailtopimg">-->

             <!--<img src="../images/abouttop_03.jpg" class="img1">-->

<!--</section>-->

     <section class="mainWrap relative">

     	<div class="detailContent clearfix">

        	<div class="column_1">

       	  	<section class="leftNav">

                	<h3 id="submenu"><a class="thuicon-menu menuicon"></a>学校概况</h3>

                    <ul class="yahei">


                      <li ><a href="/about_1">校长致辞</a></li>

                        <li class="current"> <a href="/about-2">学院介绍</a></li>

                         <li><a href="/about_3">世纪鼎利</a></li>

                         <li><a href="/about_4">鼎利教育研究院</a></li>
                         <li ><a href="/about_5">现任领导</a></li>

                         <li><a href="/about_6">组织机构</a></li>

                    </ul>

                </section>

          </div>

            <div class="column_2">

                <article class="mainContent">

                    <header class="contentNav">

                        <nav class="nav"><a href="/">首页</a> · <a href="./">学校概况</a> · <a href="">学院介绍</a></nav>

                        <h1>学院介绍</h1>

                    </header>

                    <section class="article">

                        <!--内容-->



                  <p>川科鼎利学院（互联网+学院）自成立以来就是四川科技职业学院重点打造的院系，是学校与上市公司世纪鼎利（股票代码：300050）校企合作的示范，致力于应用型人才的培养，特别重视产学结合、创新创业在人才培养中的重要作用</p>
                  <P>鼎利学院注重引进上市企业核心技术和资源，现拥有近百项软件专利、227项软件著作权、40余项自研高新技术产品，完成100多项软件和通信领域内的项目开发，便于学生进行仿真模拟实训。鼎利学院共享智翔教育研究院成果，学院采用独特的UBL人才培养模式，带领学生进行项目导入式教学。目前学院开设有通信技术、电子信息工程技术、计算机网络技术、软件技术、机械制造与自动化、工业机器人技术、大数据技术与应用、物联网应用技术、模具设计与制造、数控技术等专业。</P>
                  <p>学院与微软、IBM、华为、上海电气自动化研究所、南京人社局、中核、中船、中国移动、中国电信、大唐移动通信、北京交通大学、示范性软件联盟、德国普福尔茨海姆应用技术大学、德国伊斯尼应用技术大学、德国工商大会上海代表处、英国哈德斯菲尔德大学等国内外大型企业、知名高校建立了合作伙伴关系，学生在学习期间可享受丰富的教育资源，毕业时经考核合格后可直接推荐就业于国内外知名合作企业。同时针对省内行业需求，学院积极拓展天府软件园、孵化园、青羊工业园区、绵阳科技城等高新技术园区企业就业渠道，立足地方，服务区域经济。</p>

<!--内容结束-->

                    </section>

                    <!--<div class="column_3">-->

                   		<!--<figure class="president">-->

                   	    <!--<img src="../images/photo-qy.jpg" class="portrait">-->

                        <!--<figcaption>校长</figcaption>-->

                        <!--<img src="../images/President-z.gif">-->

                        <!--</figure>-->



                    <!--</div>-->

                </article>

            </div>

        </div>

     </section>

</article>
{% endblock %}