<link rel='stylesheet' href='/static/css/inner1.css' />
{% extends 'base.html' %}


{% block content %}
<article class="content">

    <!--<section class="channeltopimg detailtopimg">-->

             <!--<img src="../images/abouttop_03.jpg" class="img1">-->

<!--</section>-->

     <section class="mainWrap relative">

     	<div class="detailContent clearfix">

        	<div class="column_1">

       	  	<section class="leftNav">

                	<h3 id="submenu"><a class="thuicon-menu menuicon"></a>学校概况</h3>

                    <ul class="yahei">

                      <li class="current" ><a href="/about_1">校长致辞</a></li>

                        <li > <a href="/about_2">学院介绍</a></li>

                         <li><a href="/about_3">世纪鼎利</a></li>

                         <li><a href="/about_4">鼎利教育研究院</a></li>
                         <li ><a href="/about_5">现任领导</a></li>

                         <li><a href="/about_6">组织机构</a></li>

                    </ul>

                </section>

          </div>

            <div class="column_2">

                <article class="mainContent">

                    <header class="contentNav">

                        <nav class="nav"><a href="/publish/newthu/index.html">首页</a> · <a href="./index.html">学校概况</a> · <a href="">校长致辞</a></nav>

                        <h1>校长致辞</h1>

                    </header>

                    <section class="article">

                        <!--内容-->



                  <p>　　2016年，是清华大学发展进程中不平凡的一年。2016年4月22日，在清华大学105周年校庆之际，习近平总书记给母校写来贺信。总书记充分肯定了清华大学一百余年来的办学成就和优秀传统，要求学校坚持正确方向、坚持立德树人、坚持服务国家、坚持改革创新，面向世界、勇于进取，树立自信、保持特色，广育祖国和人民需要的各类人才，深度参与创新驱动发展战略实施，努力在创建世界一流大学方面走在前列。这既是对所有清华人的极大鼓舞，更是对我们的巨大鞭策。</p>

                  <p>　　过去一年，清华大学深入贯彻落实党的十八届六中全会和全国高校思想政治工作会议精神，全面推进综合改革和事业发展，加快建设中国特色世界一流大学，朝着更创新、更国际、更人文的目标奋力迈进。</p>

                  <p>　　——更创新的清华，全心培养拔尖创新人才，努力创造高水平的研究成果。推进大类培养，将49个本科招生专业整合为16个大类专业，强化通识教育，为创新人才培养搭建更加广阔的平台。实施博士生招生改革，采用“申请-审核”制，优先选拔具备浓厚学术志趣与良好学术潜质的学生。设立“开放交流时间”（Open Office Hour），教师每周固定时间接待学生自由咨询，缩短师生距离，让师生在面对面交流中迸发思想火花。设立长聘教授讲坛，让最优秀的学者展示他们的学术水平和丰富的学养，推动跨学科、跨领域的交流。科研体制机制改革正式启动，聚焦学科交叉、军民融合、前沿部署和科技成果转化，创造有利于创新的学术生态。</p>

                  <p>　　首座高温气冷堆商业示范核电站建设工程进展顺利，核能技术继续领跑全球。量子计算、类脑计算、界面高温超导、下一代互联网等一批前沿研究布局到位，呈现出蓬勃的创新活力。杨知行教授领衔的团队获国家科技进步奖一等奖，3项科研成果入选2016年度“中国高等学校十大科技进展”，出土文献研究与保护中心发现的清华简算表被认定为世界上最早的十进制乘法表。薛其坤院士获得首届“未来科学大奖”，施一公院士获得“何梁何利基金科学与技术成就奖”，钱颖一教授获2016年中国经济学奖。</p>

                  <p>　　——更国际的清华，全面深化全球交流合作，拓展学生的国际视野，更好地联结中国与世界。全球战略颁布实施，国际化办学能力和全球影响力持续提升。旨在培养未来世界领导者的苏世民书院正式开学，国家主席习近平和美国总统奥巴马分别发来贺信。</p>

				  <p>　　与美国华盛顿大学、微软公司共建的全球创新学院招收了首批学生；与瑞士日内瓦大学开展全面合作，共建可持续发展研究中心，在日内瓦建立培养和输送中国大学生赴国际组织实习与就业的基地；推动与意大利米兰理工大学建立战略合作伙伴关系，在米兰共同打造中意设计创新基地；启动建设清华大学深圳国际校区，全面提升学校在前沿创新、国际合作和高端人才培养方面的水平。 </p>

				  <p>　　支持学生广泛参与国际学术交流和文化交流，2016年学生出国学习交流人数再创新高。首次启动清华全球南方文化浸润系列项目，大力推进发展中国家研究博士生项目建设，积极推动学生到非洲、欧洲、中东等地开展社会实践活动。在清华大学的倡议下，亚洲15所代表性大学共同创建的亚洲大学联盟正式成立，国务院副总理刘延东出席成立大会并发表主旨演讲。</p>

				  <p>　　——更人文的清华，进一步深厚人文底蕴，提升学生的人文素养，推动文理渗透，培养更多能够真正肩负未来使命的优秀人才。人文清华讲坛开启以来共举办8场演讲，文学家格非、国学家陈来、社会学家李强、伦理学家万俊人、历史学家彭林、思想史家汪晖、国际关系权威专家阎学通等一批清华知名学者在讲坛上分享灼见，让清华新的人文之光照耀校园、辐射社会。</p>

				  <p>　　艺术博物馆落成并正式对外开放，推动艺术与科学的融合，展示艺术之美和科学之美，开启清华人文艺术新篇章。大力营造校园读书氛围，连续两年向本科新生赠书，实施学生深度阅读计划，发布首届水木书榜，推动学生热爱读书、勤于思考，建设更加人文、更加宁静的书香校园。顺利召开第五届世界和平论坛，国际影响力不断提升。格非教授的长篇小说《望春风》荣获《当代》年度最佳长篇小说。</p>
				  <p>　　回顾过去的一年，我们辛勤耕耘、成果丰硕。站在新的起点上，全校师生员工正满怀期待、充满信心，共同用扎实的工作深入推进综合改革，加快世界一流大学建设步伐，努力开创新百年发展的新格局，以优异成绩迎接党的十九大胜利召开。我相信，在党和政府的大力支持下，在社会各界的热心帮助下，在所有清华人的共同努力下，清华大学的明天一定会更加美好！</p>


<!--内容结束-->

                    </section>

                    <div class="column_3">

                   		<figure class="president">

                   	    <img src="../images/photo-qy.jpg" class="portrait">

                        <figcaption>校长</figcaption>

                        <img src="../images/President-z.gif">

                        </figure>



                    </div>

                </article>

            </div>

        </div>

     </section>

</article>
{% endblock %}