<link rel='stylesheet' href='/static/css/inner1.css' />
{% extends 'base.html' %}


{% block content %}
<article class="content">

    <!--<section class="channeltopimg detailtopimg">-->

             <!--<img src="../images/abouttop_03.jpg" class="img1">-->

<!--</section>-->

     <section class="mainWrap relative">

     	<div class="detailContent clearfix">

        	<div class="column_1">

       	  	<section class="leftNav">

                	<h3 id="submenu"><a class="thuicon-menu menuicon"></a>学校概况</h3>

                    <ul class="yahei">


                      <li ><a href="/about_1">校长致辞</a></li>

                        <li> <a href="/about-2">学院介绍</a></li>

                         <li><a href="/about_3">世纪鼎利</a></li>

                         <li><a href="/about_4">鼎利教育研究院</a></li>
                         <li ><a href="/about_5">现任领导</a></li>

                         <li  class="current"><a href="/about_6">组织机构</a></li>

                    </ul>

                </section>

          </div>

            <div class="column_2">

                <article class="mainContent">

                    <header class="contentNav">

                        <nav class="nav"><a href="/">首页</a> · <a href="./">学校概况</a> · <a href="">组织机构</a></nav>

                        <h1>组织机构</h1>

                    </header>

                    <section class="article">

                        <!--内容-->

                    <p><img src="/static/images/jiagou.jpg"></p>


                    </section>

                    <!--<div class="column_3">-->

                   		<!--<figure class="president">-->

                   	    <!--<img src="../images/photo-qy.jpg" class="portrait">-->

                        <!--<figcaption>校长</figcaption>-->

                        <!--<img src="../images/President-z.gif">-->

                        <!--</figure>-->



                    <!--</div>-->

                </article>

            </div>

        </div>

     </section>

</article>
{% endblock %}