<link rel='stylesheet' href='/static/css/inner1.css'/>
{% extends 'base.html' %}


{% block content %}
<article class="content">


    <section class="mainWrap relative">

        <div class="detailContent clearfix">

            <div class="column_1">

                <section class="leftNav">

                    <h3 id="submenu"><a class="thuicon-menu menuicon"></a>学校概况</h3>

                    <ul class="yahei">

                        <li><a href="/about_1">校长致辞</a></li>

                        <li><a href="/about_2">学院介绍</a></li>

                        <li><a href="/about_3">世纪鼎利</a></li>

                        <li><a href="/about_4">鼎利教育研究院</a></li>
                        <li class="current"><a href="/about_5">现任领导</a></li>

                        <li><a href="/about_6">组织机构</a></li>

                    </ul>

                </section>

            </div>

            <div class="column_2">

                <article class="mainContent">

                    <header class="contentNav">

                        <nav class="nav"><a href="/publish/newthu/index.html">首页</a> · <a href="./index.html">学校概况</a> ·
                            <a href="">现任领导</a></nav>

                        <h1>现任领导</h1>

                    </header>

                    <section class="article fullwidth">

                        <h3 class="hhh">学院领导</h3>




                        <table cellspacing="0" cellpadding="0" class="liren">

                            <tbody>
                            <tr bgcolor="#F7F7F7">

                                <td class="tdline nr tdborder" width="15%">学院院长</td>

                                <td class="tdline tdborder"><a href="#" class="_plugbox" boxid="5">叶　林</a></td>

                                <td width="15%" class="nr tdborder">学院党支书记</td>

                                <td class="tdline tdborder"><a href="#" class="_plugbox" boxid="9">叶　林(兼)</a></td>
                                <td class="tdline tdborder"></td>


                            </tr>

                            <!--  <tr bgcolor="#F7F7F7">

                                 <td class="tdline nr tdborder">常务副校长</td>
                                 <td class="tdline tdborder"><a href="#" class="_plugbox" boxid="2"></a></td>
                                 <td class="tdborder">党委常务副书记</td>
                                 <td class="tdline tdborder"><a href="#" class="_plugbox" boxid="6">姜胜耀</a></td>

                                 <td class="tdline tdborder"></td>

                             </tr> -->

                            <tr>

                                <td class="nr">教学副院长<br>产业副院长<br>科研副院长<br>软件教研室主任<br>电子教研室主任<br>双创教研室主任</td>

                                <td class="tdline">
                                    <a href="#" class="_plugbox" boxid="5">李  晓</a><br>
                                    <a href="#" class="_plugbox" boxid="6">张  继</a><br>
                                    <a href="#" class="_plugbox" boxid="12">罗 勇</a><br>
                                    <a href="#" class="_plugbox" boxid="12">罗 勇(兼)</a><br>
                                    <a href="#" class="_plugbox" boxid="12">陶薇薇</a><br>
                                    <a href="#" class="_plugbox" boxid="12">王俊海</a><br>

                                </td>

                                <td class="nr">党支副书记<br>学 工 主 管<br>学生党支部书记<br>学生团支部书记<br>宣传部长</td>
                                <td class="tdline">
                                    <a href="#" class="_plugbox" boxid="5">赵玮玮</a><br>
                                    <a href="#" class="_plugbox" boxid="6">杨  建</a><br>
                                    <a href="#" class="_plugbox" boxid="12">周佳蓉</a><br>
                                    <a href="#" class="_plugbox" boxid="12">蒋红琼</a><br>
                                    <a href="#" class="_plugbox" boxid="12">唐 文</a><br>


                                </td>
                                <!--<td class="nr">党支副书记<br>学工主管<br>学生党支部书记<br>学生团支部书记<br>宣传部长</td>-->

                                <!--<td class="tdline">-->
                                    <!--<a href="#" class="_plugbox" boxid="5">赵玮玮</a><br>-->
                                    <!--<a href="#" class="_plugbox" boxid="6">杨  建</a><br>-->
                                    <!--<a href="#" class="_plugbox" boxid="12">周佳蓉</a><br>-->
                                    <!--<a href="#" class="_plugbox" boxid="12">蒋红琼</a><br>-->
                                    <!--<a href="#" class="_plugbox" boxid="12">唐 文</a><br>-->


                                <!--</td>-->

                            </tr>

                            <tr bgcolor="#F7F7F7">


                                <td class="nr tdborder">行政秘书</td>

                                <td class="tdline tdborder"><a href="#" class="_plugbox" boxid="16">程冬梅</a></td>


                                <td class="tdborder">&nbsp;</td>

                                <td class="tdline tdborder">&nbsp;</td>
                                <td class="tdline tdborder">&nbsp;</td>


                            </tr>

                            <tr>

                                <td class="tdline nr">教学秘书</td>

                                <td class="tdline"><a href="#" class="_plugbox" boxid="13">邱晓波</a></td>

                                <td>&nbsp;</td>

                                <td class="tdline">&nbsp;</td>

                            </tr>

                            <tr bgcolor="#F7F7F7">

                                <td class="tdline nr tdborder">产业秘书</td>

                                <td class="tdline tdborder"><a href="#" class="_plugbox" boxid="8">杜思佩</a></td>

                                <td class="tdborder">&nbsp;</td>

                                <td class="tdline tdborder">&nbsp;</td>
                                <td class="tdline tdborder">&nbsp;</td>

                            </tr>

                            </tbody>
                        </table>


                        <!--内容结束-->


                    </section>

                </article>

            </div>

        </div>

    </section>

</article>
{% endblock %}