<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>四川科技职业学院鼎利学院</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"/>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/page.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/thuicon.css" rel="stylesheet">
    <link href="/static/css/inner.css" rel="stylesheet">
    <link href="/static/css/font.css" rel="stylesheet">
    <!--<link rel='stylesheet' href='/static/css/style1.css' />-->
    <!--<link href="/static/css/base.css" rel="stylesheet">-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/blocksit.min.js"></script>
    <script src="/static/js/comm.js" type="text/javascript"></script>
    <!--<script src="/static/js/jq.js" type="text/javascript"></script>-->
    <script src="/static/js/masonry.pkgd.min.js" type="text/javascript"></script>

    <!--<script type="text/javascript" src="/webmedia/tiny_mce/tiny_mce.min.js"></script>-->
    <!--<script type="text/javascript">-->
<!--tinyMCE.init({-->
    <!--mode : "textareas",-->
    <!--theme : "advanced",-->
    <!--width: '700',-->
    <!--height: '400',-->
    <!--paste_auto_cleanup_on_paste : true,-->
    <!--paste_remove_styles: true,-->
    <!--paste_remove_styles_if_webkit: true,-->
    <!--paste_strip_class_attributes: true,-->
    <!--entity_encoding: "raw"-->
<!--});-->
    <!--</script>-->
</head>
<body>
<div class="outter">
    {% include 'nav.html' %}
    <!--<div class="container">-->
    {% block content %}
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="/static/images/1.jpg" alt="First slide">
            </div>
            <div class="item">
                <img src="/static/images/2.jpg" alt="Second slide">
            </div>
            <div class="item">
                <img src="/static/images/3.jpg" alt="Third slide">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="carousel-control left" href="#myCarousel"
           data-slide="prev">&lsaquo;
        </a>
        <a class="carousel-control right" href="#myCarousel"
           data-slide="next">&rsaquo;
        </a>
    </div>


    <section class="mainWrap">
        <section class="news">
            <h2 class="yahei"><a href="News_sort/0"
                                 target="_blank" class="more">更多 &gt;</a>头条新闻</h2>
            <ul class="newslist clearfix" id="newthu_news">

                {% for news in news_list %}
                <li>
                    <div class="ydate ydate_2" id="div_ydate_1"><span>{{news.edit_time.day}}</span>{{news.edit_time.year}}.{{news.edit_time.month}}</div>
                    <div class="tn"><h3><a
                            href="/News_detail/{{news.id}}"
                            target="_blank">{{news.title}}</a></h3>
                        <p id="news_summary_1">
                            {{news.brief_content}}</p></div>
                </li>
                {% endfor %}
                <!--<li>-->
                    <!--<div class="ydate ydate_2" id="div_ydate_1"><span>24</span>2017.10</div>-->
                    <!--<div class="tn"><h3><a-->
                            <!--href="http://news.tsinghua.edu.cn/publish/thunews/9648/2017/20171024082158480219410/20171024082158480219410_.html"-->
                            <!--target="_blank">生命学院隋森芳研究组发文报道首个完整藻胆体的冷冻电镜三维结构</a></h3>-->
                        <!--<p id="news_summary_1">-->
                            <!--10月19日，清华大学生命科学学院隋森芳教授研究组在《自然》（Nature）期刊上在线发表题为《海洋红藻藻胆体的结构》的研究论文，......</p></div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="ydate ydate_2" id="div_ydate_2"><span>18</span>2017.10</div>-->
                    <!--<div class="tn"><h3><a-->
                            <!--href="/static/images/20171018100251901705416.jpg"-->
                            <!--target="_blank">清华师生热切关注党的十九大开幕</a></h3>-->
                        <!--<p id="news_summary_2">-->
                            <!--一场秋雨润泽大地。10月18日上午，备受瞩目的中国共产党第十九次全国代表大会在人民大会堂开幕，习近平总书记代表第十八届中央委员会向......</p></div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="ydate ydate_2" id="div_ydate_3"><span>03</span>2017.10</div>-->
                    <!--<div class="tn"><h3><a-->
                            <!--href="http://news.tsinghua.edu.cn/publish/thunews/9648/2017/20171003224829671184096/20171003224829671184096_.html"-->
                            <!--target="_blank">清华组织全校师生员工参观“砥砺奋进的五年”大型成就展</a></h3>-->
                        <!--<p id="news_summary_3">-->
                            <!--10月3日上午9：00，为帮助全校师生员工领略十八大以来党和国家事业的非凡历程和取得的辉煌成就，清华大学第三批组织电子系、计算机系......</p></div>-->
                <!--</li>-->

            </ul>
        </section>
        <section class="focus">
            <h2 class="yahei">焦点关注</h2>
            <ul class="focusList clearfix">

                <li id="li_1_1">
                    <div class="tn">
                        <h3><a href="/publish/thunews/9649/2017/20171025222034220292557/20171025222034220292557_.html"
                               id="title_1_1" target="_blank">清华师生热切关注十九届中央政治局常委与中外记者见面会</a></h3>
                        <p id="ctn_1_1">
                            10月25日上午，中国共产党第十九届中央委员会第一次全体会议举行，新当选的中共中央总书记习近平和各位常委同中外记者见面，习近平总书记代表中国共产党第十九届中央委员会致辞。清华大学党委理论学习中心组成员与学校老领导在工字厅东厅共同收看了十九届中央政治局常委与中外记者见面会直播。清华全校师生聚集在各会议室、办公室和实验室，围坐收看见面会实况。</p>
                    </div>
                </li>

            </ul>
        </section>
    </section>
    {% endblock %}

    {% include 'footer.html' %}
</div>


</div>
</body>
</html>