<nav class="navbar navbar_more navbar-default  navbar-static-top" role="navigation">
    <div class="container-fluid">
        <!--navbar-fixed-top-->
        <!--<div class="navbar-header">-->
        <!--&lt;!&ndash;<a class="navbar-brand" href="#">菜鸟教程</a>&ndash;&gt;-->
        <!--<a class="logo" href="/static/index.html" target="_blank"><img src="/static/images/logo.png"></a>-->
        <!--</div>-->
        	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">导航栏</a>
	</div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">学校概况<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/about/0">院长致辞</a></li>
                        <li><a href="/about/1">学院介绍</a></li>
                        <li><a href="/about/2">世纪鼎利</a></li>
                        <li><a href="/about/3">鼎利教育研究院</a></li>
                        <li><a href="/about/4">现任领导</a></li>
                        <li><a href="/about/5">组织机构</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">院系设置<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/setting/0">软件系</a></li>
                        <li><a href="/setting/1">通信系</a></li>
                        <li><a href="/setting/2">电子系</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">师资队伍<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/Person/Teachers">教职工目录</a></li>
                        <li><a href="/">杰出人才</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">教育教学<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">专业特色</a></li>
                        <li><a href="/static/newthu_cnt/about/about-2.html">专业介绍</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">UBL</a></li>
                        <li><a href="/static/newthu_cnt/about/about-5.html">教学研究</a></li>
                        <li><a href="/static/newthu_cnt/about/about-4.html">成果展示</a></li>
                        <li><a href="/static/newthu_cnt/about/about-6.html">尖刀班计划</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">党建学工<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">党员队伍</a></li>
                        <li><a href="/static/newthu_cnt/about/about-2.html">学工队伍</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">党支部</a></li>
                        <li><a href="/static/newthu_cnt/about/about-5.html">团支部</a></li>
                        <li><a href="/static/newthu_cnt/about/about-4.html">科技协会</a></li>
                        <li><a href="/static/newthu_cnt/about/about-6.html">学生活动</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">工程实训<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/static/newthu_cnt/about/about-2.html">物联网实训中心</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">移动互联实训中心</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">新闻动态<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">学工</a></li>
                        <li><a href="#">教务</a></li>
                        <li><a href="#">科研</a></li>
                        <li><a href="#">学术</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">招生就业<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">招生</a></li>
                        <li><a href="/static/newthu_cnt/about/about-2.html">就业</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">国际化</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">人才招聘<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/static/newthu_cnt/about/about-2.html">招聘计划</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">招聘信息</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">我要应聘</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">校友会 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/static/newthu_cnt/about/about-2.html">川科鼎利</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">鼎利联盟</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>