<header class="header">
  <section class="mainWrap">
    <div class="topLine"></div>
    <section class="topWrap">
      <a class="logo" href="/static/index.html" target="_blank"><img src="./static/images/logo.png"></a>
    </section>
    <section class="nav yahei  clearfix">
      <section class="menu" id="smenu"><a class="thuicon-menu menuicon"></a>导航</section>
      <ul id="nav">
        <li><a href="/static/newthu_cnt/about/index.html">学院概况<i class="thuicon-angle-down"></i></a>
          <ul>
            <li><a href="#">院长致辞</a></li>
            <li><a href="/static/newthu_cnt/about/about-2.html">学院介绍</a></li>
            <li><a href="/static/newthu_cnt/about/about-3.html">世纪鼎利</a></li>
            <li><a href="/static/newthu_cnt/about/about-5.html">鼎利教育研究院</a></li>
            <li><a href="/static/newthu_cnt/about/about-4.html">现任领导</a></li>
            <li><a href="/static/newthu_cnt/about/about-6.html">组织机构</a></li>
          </ul>
        </li>
        <li><a href="/static/newthu_cnt/about/index.html">院系设置<i class="thuicon-angle-down"></i></a>
          <ul>
            <li><a href="#">电子系</a></li>
            <li><a href="/static/newthu_cnt/about/about-2.html">通信系</a></li>
            <li><a href="/static/newthu_cnt/about/about-3.html">软件系</a></li>
          </ul>
        </li>
        <li><a href="/static/newthu_cnt/faculties/index.html">师资队伍<i class="thuicon-angle-down"></i></a>
          <ul>
            <li><a href="#">教职工目录</a></li>
            <li><a href="/static/newthu_cnt/about/about-2.html">杰出人才</a></li>
          </ul>
        </li>
        <li><a href="/static/newthu_cnt/faculties/index.html">教育教学<i class="thuicon-angle-down"></i></a>
          <ul>
            <li><a href="#">专业特色</a></li>
            <li><a href="/static/newthu_cnt/about/about-2.html">专业介绍</a></li>
            <li><a href="#">UBL</a></li>
            <li><a href="/static/newthu_cnt/about/about-2.html">教学研究</a></li>
            <li><a href="#">成果展示</a></li>
            <li><a href="/static/newthu_cnt/about/about-2.html">尖刀班计划</a></li>
          </ul>
        </li>
        <li><a href="/static/newthu_cnt/education/index.html">党建学工<i class="thuicon-angle-down"></i></a>
          <ul>
            <li><a href="/static/newthu_cnt/education/edu-1.html">党员队伍</a></li>
            <li><a href="/static/newthu_cnt/education/edu-2.html">学工队伍</a></li>
            <li><a href="/static/newthu_cnt/education/edu-3-1.html">党支部</a></li>
            <li><a href="/static/newthu_cnt/education/edu-4.html">团支部</a></li>
            <li><a href="/static/newthu_cnt/education/edu-4.html">科技协会</a></li>
            <li><a href="/static/newthu_cnt/education/edu-4.html">学生活动</a></li>
          </ul>
        </li>
        <li><a href="/static/newthu_cnt/research/index.html">工程实训<i class="thuicon-angle-down"></i></a>
          <ul>
            <li><a href="/static/newthu_cnt/research/research-1.html">物联网实训中心</a></li>
            <li><a href="/static/newthu_cnt/research/research-2.html">移动互联实训中心</a></li>
          </ul>
        </li>
        <li><a href="/static/newthu_cnt/students/index.html">新闻动态<i class="thuicon-angle-down"></i></a>
          <ul>
            <li><a href="/static/newthu_cnt/students/students-1.html">教研新闻</a></li>
          </ul>
        </li>
        <li><a href="/static/newthu_cnt/employ/index.html">招生就业<i class="thuicon-angle-down"></i></a>
          <ul>
            <li><a href="/static/newthu_cnt/employ/index.html">招生</a></li>
            <li><a href="/static/newthu_cnt/employ/employ-2.html">就业</a></li>
            <li><a href="/static/newthu_cnt/employ/employ-2.html">国际化</a></li>
          </ul>
        </li>
        <li><a href="/static/newthu_cnt/employ/index.html">人才招聘<i class="thuicon-angle-down"></i></a>
          <ul>
            <li><a href="/static/newthu_cnt/employ/index.html">招聘计划</a></li>
            <li><a href="/static/newthu_cnt/employ/employ-2.html">招聘信息</a></li>
            <li><a href="http://zhaopin.rsc.tsinghua.edu.cn/zpgl/user/goToLogin.dox" target="_blank">我要应聘</a></li>
          </ul>
        </li>
        <li><a href="/static/newthu_cnt/intothu/index.html">校友会<i class="thuicon-angle-down"></i></a>
          <ul class="last">
            <li><a href="/static/newthu_cnt/intothu/intothu-1.html">鼎利联盟</a></li>
            <li><a href="/static/newthu_cnt/intothu/intothu-2.html">川科鼎利</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </section>
</header>



 <div class="more">
    <div class="introduce-wrap clearfix">
      <div class="container">
          <div class="common-phptos">
           <div class="row">
              <div class="col-xs-12 col-sm-3 col-md-1-5 phptomargin" style="z-index: 1;">
                  <div class="abdivstyle">
                      <div class="w120-img"><img class="img-w100" src="/static/images/allen@2x.png" alt="耐特康赛CEO渠成" title="耐特康赛CEO渠成" data-bd-imgshare-binded="1"></div>
                      <p class="ceo-name">渠成</p>
                      <p class="line-bottom"></p>
                      <p class="job-detail">Netconcepts创始人兼CEO</p>
                      <p class="job-email">allen@netconcepts.cn</p>
                      <div class="detail-descript hid" style="display: none;">
                          <p class="detail-more pdt8">
                              渠成先生，毕业于新西兰奥克兰大学，中国电子商务专家、著名百度特聘专家、百度认证钻石讲师、全球跨境电子商务协会主席、北京航空航天大学互联网营销专业特聘教授、北京开放大学特聘讲师。
                          </p>
                          <p class="detail-more">
                              过去的十几年间，渠成先生一直致力于互联网与智能营销领域的研究与应用，全球独家提出360°优化理念和SEO 3.0S全新优化策略.，曾带领Netconcepts中国团队先后为中国、美国、澳大利亚、新西兰、日本、香港等地众多世界500强企业提供智能网络营销咨询与服务，并于2011年创立中国SEO大学和中国SEO排行榜，为中国SEO行业的发展和创新起到了推动作用。
                          </p>

                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-1-5 phptomargin" style="z-index: 1;">
                  <div class="abdivstyle">
                      <div class="w120-img"><img class="img-w100" src="/images/meng.png" alt="耐特康赛COO孟雷" title="耐特康赛COO孟雷" data-bd-imgshare-binded="1"></div>
                      <p class="ceo-name">孟 雷</p>
                      <p class="line-bottom"></p>
                      <p class="job-detail">COO兼总经理</p>
                      <p class="job-email">liomeng@netconcepts.cn</p>
                      <div class="detail-descript hid" style="display: none;">
                          <p class="detail-more pdt8">
                              2009年加入Netconcepts，8年来先后参与泰康人寿、艺龙旅行网、北京新东方学校、英孚教育、Hotels.com等大型SEO项目， 2011年正式升任为Netconcepts总经理，负责公司整体运营。加入Netconcepts前，孟雷曾在出版行业任职5年，参与部级出版物的编辑策划工作及交通行业国内外专家交流等项目。
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-1-5 phptomargin" style="z-index: 1;">
                  <div class="abdivstyle">
                      <div class="w120-img"><img class="img-w100" src="/images/guo@2x.png" alt="耐特康赛CTO郭庄" title="耐特康赛CTO郭庄" data-bd-imgshare-binded="1"></div>
                      <p class="ceo-name">郭 庄</p>
                      <p class="line-bottom"></p>
                      <p class="job-detail">CTO兼首席咨询师</p>
                      <p class="job-email">gavin@netconcepts.cn</p>
                      <div class="detail-descript hid" style="display: none;">
                          <p class="detail-more pdt8">
                              中国SEO专家，郭庄先生一直致力于SEO行业人才规范化与标准化的研究与实践，近年来不断在SEO项目管理系统和SEO系统产品方面的创新取得重大突破。2009年加入Netconcepts以来， 8年间不断带领Netconcepts中国SEO服务团队为近千家大型客户网站提供中英文SEO整合服务，并与北京电大、百度认证、安博教育均达成深度合作关系，且取得良好的合作成果与口碑，同时负责中国SEO大学的全面运营与管理的工作。
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-1-5 phptomargin" style="z-index: 1;">
                  <div class="abdivstyle">
                      <div class="w120-img"><img class="img-w100" src="/images/ma@2x.png" alt="耐特康赛CAO马小婷" title="耐特康赛CAO马小婷" data-bd-imgshare-binded="1"></div>
                      <p class="ceo-name">马小婷</p>
                      <p class="line-bottom"></p>
                      <p class="job-detail">CAO兼高级市场总监</p>
                      <p class="job-email">mandy@netconcepts.cn</p>
                      <div class="detail-descript hid" style="display: none;">
                          <p class="detail-more pdt8">
                              Netconcepts中国区市场品牌策划与合作推广负责人。2009年加入Netconcepts，负责公司整体品牌规划和市场部组织建设。曾自营培训机构，后就职于出版社，担任中英文编辑及市场策划。 精于把握市场机遇，保持市场敏感性，合理调配内外部关系，制定、控制、调整和修正战略、根据公司品牌定位和媒体特点，提出不同于传统模式的创新性合作方式，最终合理有效实施。
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-1-5 phptomargin" style="z-index: 1;">
                  <div class="abdivstyle">
                      <div class="w120-img"><img class="img-w100" src="/images/zhou@2x.png" alt="耐特康赛CSO周涛" title="耐特康赛CSO周涛" data-bd-imgshare-binded="1"></div>
                      <p class="ceo-name">周 涛</p>
                      <p class="line-bottom"></p>
                      <p class="job-detail">CSO兼旅游事业部总经理</p>
                      <p class="job-email">tod@netconcepts.cn</p>
                      <div class="detail-descript hid" style="display: none;">
                          <p class="detail-more pdt8">
                              曾就职于中国电信和中国网通总部10年，负责黄页导航前期互联网平台的搭建和黄页技术平台的建设。后就职于中国旅行社总社有限公司8年，负责公司电子商务业务拓展，主导中旅入境电商网站、国内电商网站，以及CRM会员体系的建设与运营。精通通信行业与旅游行业的互联网运营、在线营销、资源整合等相关工作的运营与管理。
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-1-5 phptomargin" style="z-index: 1;">
                  <div class="abdivstyle">
                      <div class="w120-img"><img class="img-w100" src="/images/li@2x.png" alt="耐特康赛深圳分公司总经理胡力" title="耐特康赛深圳分公司总经理胡力" data-bd-imgshare-binded="1"></div>
                      <p class="ceo-name">胡 力 </p>
                      <p class="line-bottom"></p>
                      <p class="job-detail">深圳分公司总经理</p>
                      <p class="job-email">huli@netconcepts.cn</p>
                      <div class="detail-descript hid" style="display: none;">
                          <p class="detail-more pdt8">
                              曾就职于中兴通讯和万兴科技。 百度认证特聘专家、全球跨境电子商务协会专家，获得Google Analytics资格认证和Google分析学院资格认证。曾为当当网、OPPO、太平保险、诺帮友信、爱帝宫、艾芬照明、Juiceup、中国旅行社、点点租等几十家知名企业提供网络营销及搜索引擎优化服务。曾以特邀演讲嘉宾身份出席中国各地区互联网营销大会并演讲。曾编译热门数据分析类书籍《流量的秘密3》与SEO书籍《Inbound Marketing》。
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-1-5 phptomargin" style="z-index: 1;">
                  <div class="abdivstyle">
                      <div class="w120-img"><img class="img-w100" src="/images/xi@2x.png" alt="耐特康赛上海分公司总经理贺稀" title="耐特康赛上海分公司总经理贺稀" data-bd-imgshare-binded="1"></div>
                      <p class="ceo-name">贺 稀</p>
                      <p class="line-bottom"></p>
                      <p class="job-detail">上海分公司总经理</p>
                      <p class="job-email">vito@netconcepts.cn</p>
                      <div class="detail-descript hid" style="display: none;">
                          <p class="detail-more pdt8">
                              曾就职于中国惠普、思科中国等世界500强企业担任区域销售经理。后转入电子商务领域，在数字营销行业担任中国区业务总监及大中华区业务总监一职。精通电子邮件营销和网络营销，拥有极强的大型企业服务及合作经验，并且带领中国大陆，中国香港，中国台湾团队分别与麦包包，LVMH，Chanel，保时捷等知名企业通力合作。
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-1-5 phptomargin" style="z-index: 1;">
                  <div class="abdivstyle">
                      <div class="w120-img"><img class="img-w100" src="/images/jie@2x.png" alt="耐特康赛搜索营销高级总监潘静洁" title="耐特康赛搜索营销高级总监潘静洁" data-bd-imgshare-binded="1"></div>
                      <p class="ceo-name">潘静洁</p>
                      <p class="line-bottom"></p>
                      <p class="job-detail">搜索营销高级总监</p>
                      <p class="job-email">enya@netconcepts.cn</p>
                      <div class="detail-descript hid" style="display: none;">
                          <p class="detail-more pdt8">
                              2011年加入Netconcepts，5年来带领团队负责竞价管理及媒体投放工作。7年Marketing推广及大客户SEM优化分析经验，曾就职于4A广告公司OMD、团购网站高朋等，有管理大型SEM账户的丰富经验。2011开始带领SEM团队为客户提供搜索引擎广告购买、优化服务，与SEO技术相结合，为SEM客户提供整合化营销投放策略。优化服务得到媒体的推荐及认可。
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-1-5 phptomargin" style="z-index: 1;">
                  <div class="abdivstyle">
                      <div class="w120-img"><img class="img-w100" src="/images/yu@2x.png" alt="耐特康赛移动营销总监张舒娱" title="耐特康赛移动营销总监张舒娱" data-bd-imgshare-binded="1"></div>
                      <p class="ceo-name">张舒娱</p>
                      <p class="line-bottom"></p>
                      <p class="job-detail">移动营销总监</p>
                      <p class="job-email">jimmy@netconcepts.cn</p>
                      <div class="detail-descript hid" style="display: none;">
                          <p class="detail-more pdt8">
                              领导移动营销部门，负责整合移动产业资源，为客户提供精准的数字营销产品及服务，落地移动互联网+的概念。2009年加入Netconcepts，先后带领过SEO&amp;SMO团队，擅长以搜索的角度思维实现企业与用户的互动，提高品牌综合性价值。营销咨询服务过上百家各领域企业，如： LG、TCL、华为、Hotels国际酒店预订、北大青鸟、龙湖地产等众多品牌企业。
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  </div>



  <footer class="footer">
          <section class="footWrap">
          	<section class="mainWrap">
              	<nav class="footerNav">
                  	<ul class="clearfix">
                      	<li>
                          	<h4><a href="../about/index.html">学校概况</a></h4>
                              <a href="../about/about-1.html">校长致辞</a>
                              <a href="../about/about-2.html">学校沿革</a>
                              <a href="../about/about-3.html">历任领导</a>
                              <a href="../about/about-5.html">现任领导</a>
                              <a href="../about/about-4.html">组织机构</a>
                              <a href="../about/about-6.html">统计资料</a>
                          </li>
                          <li>
                          	<h4><a href="../faculties/index.html">院系设置</a></h4>
                          </li>
                          <li>
                          	<h4><a href="../teacher/index.html">师资队伍</a> </h4>
                                   <a href="../teacher/index.html#gk">概况</a>
                                   <a href="../teacher/index.html#jcrc">杰出人才</a>
                          </li>
                          <li>
                          	<h4><a href="index.html">教育教学</a></h4>
                              <a href="edu-1.html">本科生教育</a>
                              <a href="edu-2.html">研究生教育</a>
                              <a href="edu-3-1.html">国际学生培养</a>
                              <a href="edu-4.html">继续教育</a>
                          </li>
                          <li>
                          	<h4><a href="../research/index.html">科学研究</a></h4>
                              <a href="../research/research-1.html">科研项目</a>
                              <a href="../research/research-2.html">科研机构</a>
                              <a href="../research/research-3.html">科研合作</a>
                              <a href="../research/research-4.html">科研成果与知识产权</a>
                              <a href="../research/research-5.html">学术交流</a>
                          </li>
                          <li>
                          	<h4><a href="../students/index.html">招生就业</a></h4>
                              <a href="../students/students-1.html">本科生招生</a>
                              <a href="../students/students-2.html">研究生招生</a>
                              <a href="../students/students-3.html">国际学生招生</a>
  							<a href="../students/students-4.html">学生职业发展</a>
                          </li>
                          <li>
                          	<h4><a href="../employ/index.html">人才招聘</a></h4>
                              <a href="../employ/index.html">招聘计划</a>
                              <a href="../employ/employ-2.html">招聘信息</a>
                              <a href="http://zhaopin.rsc.tsinghua.edu.cn/zpgl/user/goToLogin.dox" target="_blank">我要应聘</a>
                          </li>
                          <li>
                          	<h4><a href="../intothu/index.html">走进清华</a></h4>
                              <a href="../intothu/intothu-1.html">校园生活</a>
                              <a href="../intothu/intothu-2.html">校园风光</a>
                              <a href="../intothu/intothu-3.html">实用信息</a>
                          </li>
                      </ul>
                  </nav>
              </section>
          </section>
          <section class="copyrights">
          	<section class="mainWrap">
                  <span class="info"><span>电话查号台：010-62793001</span><span>管理员信箱：webmaster@tsinghua.edu.cn</span><span>地址：北京市海淀区清华大学</span></span>
                  <span class="icp">京公网安备 110402430053 号</span>
                  <div class="clear"></div>
                  <span class="copy">版权所有 © 清华大学</span>
              </section>
          </section>
  </footer>