<header class="header">
    <section class="mainWrap">
        <div class="topLine"></div>
        <section class="topWrap">
            <a class="logo" href="/publish/newthu/index.html" target="_blank"><img
                    src="/publish/newthu/images/logo.png"></a>
            <section class="search">
                <div class="ext"><a href="/publish/newthuen/index.html">English Version</a></div>
                <form id="searchForm" target="_blank" action="http://search.tsinghua.edu.cn/web">
                    <input name="query" type="text" class="inp">
                    <input name="ie" type="hidden" value="utf8">
                    <a href="javascript:;" onclick="searchSub();" class="thuicon-search btn"></a>
                </form>
                <script src="http://www.tsinghua.edu.cn/publish/newthu/js/searchsub.js"></script>
            </section>
        </section>
        <section class="nav yahei  clearfix">
            <section class="menu" id="smenu"><a class="thuicon-menu menuicon"></a>导航</section>
            <ul id="nav">
 <li>
                    <a href="#"  >学校概况<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">院长致辞</a></li>
                        <li><a href="/static/newthu_cnt/about/about-2.html">学院介绍</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">世纪鼎利</a></li>
                        <li><a href="/static/newthu_cnt/about/about-5.html">鼎利教育研究院</a></li>
                        <li><a href="/static/newthu_cnt/about/about-4.html">现任领导</a></li>
                        <li><a href="/static/newthu_cnt/about/about-6.html">组织机构</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"  >院系设置<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">软件系</a></li>
                        <li><a href="/static/newthu_cnt/about/about-2.html">通信系</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">电子系</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"  >师资队伍<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">院长致辞</a></li>
                        <li><a href="/Person/Teachers">教职工目录</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">杰出人才</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"  >教育教学<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">专业特色</a></li>
                        <li><a href="/static/newthu_cnt/about/about-2.html">专业介绍</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">UBL</a></li>
                        <li><a href="/static/newthu_cnt/about/about-5.html">教学研究</a></li>
                        <li><a href="/static/newthu_cnt/about/about-4.html">成果展示</a></li>
                        <li><a href="/static/newthu_cnt/about/about-6.html">尖刀班计划</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"  >党建学工<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">党员队伍</a></li>
                        <li><a href="/static/newthu_cnt/about/about-2.html">学工队伍</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">党支部</a></li>
                        <li><a href="/static/newthu_cnt/about/about-5.html">团支部</a></li>
                        <li><a href="/static/newthu_cnt/about/about-4.html">科技协会</a></li>
                        <li><a href="/static/newthu_cnt/about/about-6.html">学生活动</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"  >工程实训<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">院长致辞</a></li>
                        <li><a href="/static/newthu_cnt/about/about-2.html">物联网实训中心</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">移动互联实训中心</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"  >新闻动态<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">院长致辞</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"  >招生就业<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">招生</a></li>
                        <li><a href="/static/newthu_cnt/about/about-2.html">就业</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">国际化</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"  >人才招聘<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">招生</a></li>
                        <li><a href="/static/newthu_cnt/about/about-2.html">招聘计划</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">招聘信息</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">我要应聘</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"  >校友会 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/static/newthu_cnt/about/about-2.html">川科鼎利</a></li>
                        <li><a href="/static/newthu_cnt/about/about-3.html">鼎利联盟</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </section>
</header>