<link rel='stylesheet' href='/static/css/style1.css' />
<style type="text/css">
      /* 内部样式 */
    aside .time i {
    color: #ff7800;
    font-size: 14px;
    margin-right: 5px;
}
      .tab-content{
      background: #989895;
      }
      a, a:link{
      color:#ff7800;

      }
      aside {
        margin-bottom:6px;
        margin-top:6px;
      }
      p{
      margin-top:6px;
      }

      h3 .jiequ{
        color: #000000;
        font-size: 100%;
        font-size: 16px;
        }

         aside .num {
            float: right;
        }
    </style>
<!--<section class="colum2">-->
               <!--<ul class="switch clearfix"><li class="current"><i class="thunews-star"></i>精彩推荐</li></ul>-->
               <!--<div id="warterflow" style="position: relative; height: 1698px;">-->
                  <!--<ul class="elist" id="elist">-->

                      <!--<li style="width: 23%; position: absolute; top: 0px; left: 0px; background-color: #f8f8f8;">-->

                      <!--</li>-->

      <!--<li style="width: 256px; position: absolute; top: 0px; left: 0px;">-->
       <!--<figure>-->
       <!--<a href="/publish/thunews/9945/2017/20171031135247081292678/20171031135247081292678_.html"><img src="/publish/thunews/9666/20171031135247081292678/20171031141415166333607.jpg" width="256" height="158"></a>-->
       <!--<div class="figurewrap">-->
       <!--<aside><a href="/publish/thunews/9666/index.html#dqwz " class="node">校园生活</a></aside>-->
       <!--<figcaption><h3><a href="/publish/thunews/9945/2017/20171031135247081292678/20171031135247081292678_.html" class="jiequ">有河工作室授牌仪式暨学生基层研究会迎新大会举办</a></h3></figcaption>-->
            <!--<p class="jiequ">10月29日晚，清华大学学生职业发展指导中心有河工作室授牌仪式暨2017-2018学年学生基层公共部...</p>-->
           <!--<aside><div class="num">&lt;!&ndash;<i class="thunews-thumbs-o-up"></i>23&ndash;&gt; <i class="thunews-eye"></i><span class="itemlist_total_20171031135247081292678">68</span></div><span class="time"><i class="thunews-clock-o"></i>2017.10.31</span></aside>-->
       <!--</div>-->
       <!--</figure>-->
      <!--</li>-->





      <!--<li style="width: 256px; position: absolute; top: 0px; left: 276px;">-->
       <!--<figure>-->
       <!--<a href="/publish/thunews/9945/2017/20171030152904855600684/20171030152904855600684_.html"><img src="/publish/thunews/9652/20171030152904855600684/20171031111443622783181.jpg" width="256" height="158"></a>-->
       <!--<div class="figurewrap">-->
       <!--<aside><a href="/publish/thunews/9652/index.html" class="node">图说清华</a></aside>-->
       <!--<figcaption><h3><a href="/publish/thunews/9945/2017/20171030152904855600684/20171030152904855600684_.html" class="jiequ">【组图】古园、大师与秋色</a></h3></figcaption>-->
            <!--<p class="jiequ"> 新闻网选取了几位清华学习生活过大师的秋作诗篇，一起体味大师笔下的秋声秋色。...</p>-->
           <!--<aside><div class="num">&lt;!&ndash;<i class="thunews-thumbs-o-up"></i>23&ndash;&gt; <i class="thunews-eye"></i><span class="itemlist_total_20171030152904855600684">320</span></div><span class="time"><i class="thunews-clock-o"></i>2017.10.31</span></aside>-->
       <!--</div>-->
       <!--</figure>-->
      <!--</li>-->





      <!--<li style="width: 256px; position: absolute; top: 0px; left: 542px;">-->
       <!--<figure>-->
       <!--<a href="/publish/thunews/9945/2017/20171030102721408754967/20171030102721408754967_.html"><img src="/publish/thunews/9658/20171030102721408754967/20171030170256815250337.jpg" width="256" height="158"></a>-->
       <!--<div class="figurewrap">-->
       <!--<aside><a href="/publish/thunews/9658/index.html#dqwz " class="node">时讯快递</a></aside>-->
       <!--<figcaption><h3><a href="/publish/thunews/9945/2017/20171030102721408754967/20171030102721408754967_.html" class="jiequ">北京高校学习习近平新时代中国特色社会主义思想博士生宣讲团在清华成立</a></h3></figcaption>-->
            <!--<p class="jiequ">10月28日下午，北京高校学习习近平新时代中国特色社会主义思想博士生宣讲团在清华大学成立。北京市委教...</p>-->
           <!--<aside><div class="num">&lt;!&ndash;<i class="thunews-thumbs-o-up"></i>23&ndash;&gt; <i class="thunews-eye"></i><span class="itemlist_total_20171030102721408754967">230</span></div><span class="time"><i class="thunews-clock-o"></i>2017.10.30</span></aside>-->
       <!--</div>-->
       <!--</figure>-->
      <!--</li>-->





      <!--<li style="width: 256px; position: absolute; top: 426px; left: 0px;">-->
       <!--<figure>-->
       <!--<a href="/publish/thunews/9945/2017/20171030092745749452091/20171030092745749452091_.html"><img src="/publish/thunews/9659/20171030092745749452091/20171030141331223118937.jpg" width="256" height="158"></a>-->
       <!--<div class="figurewrap">-->
       <!--<aside><a href="/publish/thunews/9659/index.html#dqwz " class="node">学术科研</a></aside>-->
       <!--<figcaption><h3><a href="/publish/thunews/9945/2017/20171030092745749452091/20171030092745749452091_.html" class="jiequ">诺贝尔奖获得者詹姆斯·司徒塔特教授做客清华论坛</a></h3></figcaption>-->
            <!--<p class="jiequ">10月25日晚，诺贝尔化学奖获得者、美国西北大学的詹姆斯·弗雷泽·司徒塔特（James Fraser...</p>-->
           <!--<aside><div class="num">&lt;!&ndash;<i class="thunews-thumbs-o-up"></i>23&ndash;&gt; <i class="thunews-eye"></i><span class="itemlist_total_20171030092745749452091">148</span></div><span class="time"><i class="thunews-clock-o"></i>2017.10.30</span></aside>-->
       <!--</div>-->
       <!--</figure>-->
      <!--</li>-->





      <!--<li style="width: 256px; position: absolute; top: 830px; left: 0px;">-->
       <!--<figure>-->
       <!--<a href="/publish/thunews/9945/2017/20171030114654333199522/20171030114654333199522_.html"><img src="/publish/thunews/9658/20171030114654333199522/20171030134840212139072.jpg" width="256" height="158"></a>-->
       <!--<div class="figurewrap">-->
       <!--<aside><a href="/publish/thunews/9658/index.html#dqwz " class="node">时讯快递</a></aside>-->
       <!--<figcaption><h3><a href="/publish/thunews/9945/2017/20171030114654333199522/20171030114654333199522_.html" class="jiequ">清华学校时期校长张煜全重要档案史料捐赠清华</a></h3></figcaption>-->
            <!--<p class="jiequ">近日，清华学校时期校长张煜全之孙、巴西籍华人张永钧先生及其亲属周靖女士日前专程来到清华园，捐赠张煜全...</p>-->
           <!--<aside><div class="num">&lt;!&ndash;<i class="thunews-thumbs-o-up"></i>23&ndash;&gt; <i class="thunews-eye"></i><span class="itemlist_total_20171030114654333199522">66</span></div><span class="time"><i class="thunews-clock-o"></i>2017.10.30</span></aside>-->
       <!--</div>-->
       <!--</figure>-->
      <!--</li>-->





      <!--<li style="width: 256px; position: absolute; top: 849px; left: 276px;">-->
       <!--<figure>-->
       <!--<a href="/publish/thunews/9945/2017/20171030105926726253298/20171030105926726253298_.html"><img src="/publish/thunews/9664/20171030105926726253298/20171030140546840739989.jpg" width="256" height="158"></a>-->
       <!--<div class="figurewrap">-->
       <!--<aside><a href="/publish/thunews/9664/index.html#dqwz " class="node">社会服务</a></aside>-->
       <!--<figcaption><h3><a href="/publish/thunews/9945/2017/20171030105926726253298/20171030105926726253298_.html" class="jiequ">北京清华长庚医院与社区联动 宣传脑卒中预防知识</a></h3></figcaption>-->
            <!--<p class="jiequ">10月29日是第十二个“世界卒中日”，国家卫生计生委脑卒中防治工程委员会发出“预防卒中，你我同行”的...</p>-->
           <!--<aside><div class="num">&lt;!&ndash;<i class="thunews-thumbs-o-up"></i>23&ndash;&gt; <i class="thunews-eye"></i><span class="itemlist_total_20171030105926726253298">42</span></div><span class="time"><i class="thunews-clock-o"></i>2017.10.30</span></aside>-->
       <!--</div>-->
       <!--</figure>-->
      <!--</li>-->





      <!--<li style="width: 256px; position: absolute; top: 1253px; left: 0px;">-->
       <!--<figure>-->
       <!--<a href="/publish/thunews/9945/2017/20171026140609922903415/20171026140609922903415_.html"><img src="/publish/thunews/9665/20171026140609922903415/20171026141012118188964.jpg" width="256" height="158"></a>-->
       <!--<div class="figurewrap">-->
       <!--<aside><a href="/publish/thunews/9665/index.html#dqwz " class="node">广角透视</a></aside>-->
       <!--<figcaption><h3><a href="/publish/thunews/9945/2017/20171026140609922903415/20171026140609922903415_.html" class="jiequ">清华学生在极棒2017全球极客大赛“AI仿声验声攻防赛”中斩获佳绩</a></h3></figcaption>-->
            <!--<p class="jiequ">在10月24日于上海举行的极棒（GeekPwn）2017全球极客大赛中，清华大学深圳研究生院信息科学...</p>-->
           <!--<aside><div class="num">&lt;!&ndash;<i class="thunews-thumbs-o-up"></i>23&ndash;&gt; <i class="thunews-eye"></i><span class="itemlist_total_20171026140609922903415">134</span></div><span class="time"><i class="thunews-clock-o"></i>2017.10.26</span></aside>-->
       <!--</div>-->
       <!--</figure>-->
      <!--</li>-->





      <!--<li style="width: 256px; position: absolute; top: 1272px; left: 276px;">-->
       <!--<figure>-->
       <!--<a href="/publish/thunews/9945/2017/20171026150203307150772/20171026150203307150772_.html"><img src="/publish/thunews/9665/20171026150203307150772/20171026155845819906412.jpg" width="256" height="158"></a>-->
       <!--<div class="figurewrap">-->
       <!--<aside><a href="/publish/thunews/9665/index.html#dqwz " class="node">广角透视</a></aside>-->
       <!--<figcaption><h3><a href="/publish/thunews/9945/2017/20171026150203307150772/20171026150203307150772_.html" class="jiequ">清华博士生必修社会实践（海外）“一带一路”实践分享会举行</a></h3></figcaption>-->
            <!--<p class="jiequ">10月23日下午，2017年清华大学博士生必修社会实践（海外）（Graduate Student O...</p>-->
           <!--<aside><div class="num">&lt;!&ndash;<i class="thunews-thumbs-o-up"></i>23&ndash;&gt; <i class="thunews-eye"></i><span class="itemlist_total_20171026150203307150772">53</span></div><span class="time"><i class="thunews-clock-o"></i>2017.10.26</span></aside>-->
       <!--</div>-->
       <!--</figure>-->
      <!--</li>-->




            <!--</ul>-->
               <!--</div>-->
                <!--<a href="javascript:;" class="mobilemore" id="mobilemore">更多精彩推荐</a>-->
            <!--</section>-->


<section id="wrapper">

<div id="container">
    {% for news in news_list_sort %}
    <div class="grid">

       <figure>
       <a href="/News_detail/{{news.id}}"><img style="vertical-align: middle;display: inline-block;" src="/webmedia/{{news.ph}}" width="256" height="158"></a>
       <div class="figurewrap">
       <aside><a href="/News_detail/{{news.id}}" class="node">{{news.get_category_display}}</a></aside>
       <figcaption><h3><a href="/publish/thunews/9945/2017/20171101142412336398971/20171101142412336398971_.html" class="jiequ">{{news.title}}</a></h3></figcaption>
            <p class="jiequ">为深入学习贯彻党的十九大精神，进一步提升清华学生党员骨干队伍的政治思想素质和意识形态工作能力，10月...</p>
           <aside><div class="num"><!--<i class="thunews-thumbs-o-up"></i>23--> <i class="thunews-eye"></i><span class="">{{news.PV}}</span></div><span class="time"><i class="thunews-clock-o"></i>{{news.edit_time.year}}.{{news.edit_time.month}}.{{news.edit_time.day}}</span></aside>
       </div>
       </figure>

    </div>
    {% endfor %}
</div>
</section>