<link rel='stylesheet' href='/static/css/inner1.css' />
{% extends 'base.html' %}


{% block content %}
<article class="content">

    <!--<section class="channeltopimg detailtopimg">-->

             <!--<img src="../images/abouttop_03.jpg" class="img1">-->

<!--</section>-->

     <section class="mainWrap relative">

     	<div class="detailContent clearfix">

        	<div class="column_1">

       	  	<section class="leftNav">

                	<h3 id="submenu"><a class="thuicon-menu menuicon"></a>院系设置</h3>

                    <ul class="yahei">

                      <li ><a href="/setting_1">软件系</a></li>

                        <li class="current"><a href="/setting_2">通信系</a></li>

                         <li><a href="/setting_3">电子系</a></li>


                    </ul>

                </section>

          </div>

            <div class="column_2">

                <article class="mainContent">

                    <header class="contentNav">

                        <nav class="nav"><a href="/">首页</a> · <a href="./">院系设置</a> · <a href="">内容</a></nav>

                        <h1>通信系</h1>

                    </header>

                    <section class="article">

                        <!--内容-->
                    <p><strong>通信技术</strong></p>
                        <p><strong>培育移动技术、管理工程师</strong></p>
                        <p><strong>培养目标:</strong>掌握全面的移动互联软件系统开发设计的基本知识与应用技能，培养具有一定的移动应用类软件系统的开发、设计及应用能力的高端技术技能型人才。</p>
                     <p><strong>就业方向:</strong>ICT（通信、信息和技术）领域，从事岗位主要有：软件开发工程师、软件测试工程师、售后技术工程等管理岗位。</p>
                        <p><strong>毕业薪资:</strong>应届毕业生平均就业薪资6K/月左右。</p>

                        <p><img border="0" src="/static/images/20170302104920373.jpg"></p>

<!--内容结束-->

                    </section>



                </article>

            </div>

        </div>

     </section>

</article>
{% endblock %} %}