<link rel='stylesheet' href='/static/css/inner1.css' />
{% extends 'base.html' %}


{% block content %}
<article class="content">

    <!--<section class="channeltopimg detailtopimg">-->

             <!--<img src="../images/abouttop_03.jpg" class="img1">-->

<!--</section>-->

     <section class="mainWrap relative">

     	<div class="detailContent clearfix">

        	<div class="column_1">

       	  	<section class="leftNav">

                	<h3 id="submenu"><a class="thuicon-menu menuicon"></a>院系设置</h3>

                    <ul class="yahei">

                      <li ><a href="/setting_1">软件系</a></li>

                        <li><a href="/setting_2">通信系</a></li>

                         <li class="current"><a href="/setting_3">电子系</a></li>


                    </ul>

                </section>

          </div>

            <div class="column_2">

                <article class="mainContent">

                    <header class="contentNav">

                        <nav class="nav"><a href="/">首页</a> · <a href="./">院系设置</a> · <a href="">内容</a></nav>

                        <h1>电子系</h1>

                    </header>

                    <section class="article">

                        <!--内容-->
                    <p><strong>电子信息工程技术（物联网应用与技术方向）</strong></p>
                        <p><strong>培育物联网高级工程师</strong></p>
                        <p><strong>培养目标:</strong>学习物联网相关技术，掌握物联网行业规范、系统性能与技术指标、物联网设备相关软件开发技术的相关理论与技能，从事物联网相关行业的高端技能型人才。</p>
                     <p><strong>就业方向:</strong>物联网行业方向，主要从事：物联网工程师、物联网项目经理、项目管理工程师、产品开发工程师等管理岗位。</p>
                        <p><strong>毕业薪资:</strong>物联网专业目前是比较火的专业之一，薪水的起步是相对比较高，物联网工程师平均工资8K/月左右。</p>
                    <p><img border="0" src="/static/images/20170302104953889.jpg"></p>
<!--内容结束-->

                    </section>



                </article>

            </div>

        </div>

     </section>

</article>
{% endblock %} %}